body {
    background-color: rgba(119, 96, 142, 0.323);
  }
  hr {
    
    background-color: none;
    border-style: none;
    border-top: 10px dotted;
    border-color: rgb(179, 172, 108);
    height: 2px;
    width: 10%;
  }
  h1 {
    color: #477979;
  }
  h3 {
    color: #477979;
  }